.registerWrapper {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
}


.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-height: fit-content;
    min-width: fit-content;
}


.registerForm {
    background-color: #ffffff;
    border: 2px solid #000000;
    height: 70vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-height: fit-content;
    min-width: fit-content;
}


.registerForm label {
    display: block;
    font-size: 1.2em;
    width: 35vw;
    font-family: "JetBrains Mono", monospace;
}


.registerForm input {
    color: #000000;
    width: 34vw;
    height: 6vh;
    margin: 1vh 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000;
    font-size: 1em;
    padding: 0 0.5vw;
    font-family: "JetBrains Mono", monospace;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.registerForm input:hover, .registerForm input:focus {
    background-color: #000000;
    border: 2px solid #000000;
    text-align: left;
    outline: none;
    font-family: "JetBrains Mono", monospace;
    color: #ffffff;
}


.registerForm button {
    width: 35vw;
    margin: 3vh 0 0 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000;
    height: 6vh;
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    min-height: fit-content;
    min-width: fit-content;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.registerForm button:hover {
    background-color: #000000;
    border: 2px solid #000000;
    text-decoration: white;
    cursor: pointer;
    color: #ffffff;
}


.errorMessage {
    color: #ce1010;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.2em;
    font-weight: bold;
}

.registerFooter {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.2em;
}


.registerFooter span, .registerFooter span:visited, .registerFooter span:active {
    color: #390096;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

/*-------------------Dark Theme-------------------*/

.registerWrapperDark {
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
}

.registerContainerDark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-height: fit-content;
    min-width: fit-content;
}

.registerFormDark {
    background-color: #262626;
    backdrop-filter: blur(8px);
    height: 70vh;
    width: 60%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-height: fit-content;
    min-width: fit-content;
}

.registerFormDark label {
    display: block;
    color: #ffff0a;
    font-size: 1.2em;
    width: 35vw;
    font-family: "JetBrains Mono", monospace;
}

.registerFormDark input {
    width: 34vw;
    height: 6vh;
    margin: 1vh 0;
    background-color: #1f1f1f;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: white;
    font-size: 1em;
    padding: 0 0.5vw;
    font-family: "JetBrains Mono", monospace;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out
}

.registerFormDark input:focus {
    background-color: #0f0f0f;
    border: 2px solid #ffffff;
    text-align: left;
    outline: none;
    font-family: "JetBrains Mono", monospace;
}

.registerFormDark input:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: white;
    color: #000000;
}

.registerFormDark button {
    width: 35vw;
    margin: 3vh 0 0 0;
    background-color: #1f1f1f;
    border-radius: 10px;
    border: 2px solid #ffffff;
    height: 6vh;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    min-height: fit-content;
    min-width: fit-content;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out
}

.registerFormDark button:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: white;
    color: #000000;
    cursor: pointer;
}

.registerFooterDark {
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    font-size: 1.2em;
}

.registerFooterDark span, .registerFooterDark span:visited, .registerFooterDark span:active {
    color: #ffff0a;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/*------------------- Responsive Adjustments -------------------*/

@media (max-width: 768px) {
    .registerForm, .registerFormDark {
        width: 100%;
        height: 100vh;
        border: none;
    }

    .registerForm label, .registerFormDark label {
        font-size: 1em;
        width: 70vw;
    }

    .registerForm input, .registerFormDark input {
        font-size: 0.9em;
        width: 68vw;
        padding: 0 1vw;
        height: 8vh;
    }

    .registerForm button, .registerFormDark button {
        margin: 1rem 0 0 0;
        font-size: 1em;
        width: 70vw;
        height: 2.3rem;
    }

    .errorMessage {
        font-size: 1em !important;
        margin: 0.5rem 0 0 0 !important;
    }

    .registerFooter, .registerFooterDark {
        font-size: 1em !important;
        margin: 0 !important;
    }
}

@media (max-width: 480px) {
    .registerForm, .registerFormDark {
        width: 100%;
        height: 100vh;
        border: none;
    }

    .registerForm label, .registerFormDark label {
        font-size: 1.2em;
        width: 70vw;
    }

    .registerForm input, .registerFormDark input {
        font-size: 0.9em;
        height: 6vh;
        width: 68vw;
        padding: 0 1vw;
    }

    .registerForm button, .registerFormDark button {
        font-size: 0.9em;
        width: 70vw;
        height: 2.7rem;
    }

    .errorMessage {
        font-size: 1em !important;
    }

    .registerFooter, .registerFooterDark {
        font-size: 1em !important;
        margin: 0;
    }
}