.registerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-height: fit-content;
    min-width: fit-content;
}

.registerForm{
    background-color: #555555;
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-height: fit-content;
    min-width: fit-content;
}

.registerForm label{
    display:block;
    color:white;
    font-size: 1.2rem;
    width: 70vh;
    font-family: "JetBrains Mono", monospace;
}

.registerForm input{
    width: 68vh;
    height: 4vh;
    margin: 1vh 0;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #444;
    color: white;
    font-size: 1rem;
    padding: 1vh;
    font-family: "JetBrains Mono", monospace;
}

.registerForm input:focus{
    background-color: #333;
    text-align: left;
    border:2px solid white;
    outline: none;
    font-family: "JetBrains Mono", monospace;
}

.registerForm input:hover{
    background-color: #333;
}

.registerForm button{
    width: 70.5vh;
    margin-top: 1vh;
    background-color: #444;
    border-radius: 10px;
    border: 2px solid #333;
    height: 6vh;
    font-family: "JetBrains Mono", monospace;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    min-height: fit-content;
    min-width: fit-content;
}

.registerForm button:hover{
    background-color: #333;
    border: 2px solid #222;
    text-decoration: white;
    cursor: pointer;
}

.errorMessage{
    color:#ce1010;
    font-family: "JetBrains Mono", monospace;
}

.registerFooter{
    font-family: "JetBrains Mono", monospace;
    color:white;
}

.registerFooter a, .registerFooter a:visited, .registerFooter a:active{
    color: #390096;
    text-decoration: none;
    font-weight: bold;
}