.settingsContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

.settingsContainerDark {

}

.settingsSidebarContainer {
    width: 20%;
    height: 100vh;
    background-color: #555555;
}

.settingsSidebarContainerDark {

}

.settingsSidebarHeader {
    height: 10vh;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsSidebarHeaderDark {

}

.settingsSidebarContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.settingsSidebarContentDark {

}

.settingsSidebarContent:hover {
    background-color: #333333;
}

.settingsSidebarContentDark:hover {

}

.settingsMainContainer {
    width: 80%;
    height: 100vh;
    background-color: #444444;
}

.settingsMainContainerDark {

}

.settingsMainHeader {
    height: 10vh;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsMainHeaderDark {

}

.settingsMainContent {

}

.settingsMainContentDark {

}