.chatCardHeader {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.chatCardContainer {
    height: 10vh;
    display: inline-grid;
    flex-wrap: wrap;
    width: 100%;
}

.chatCardAvatar {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
}

.chatCardUsernameContainer {
    font-size: 0.8em;
}

.chatCardMessageContainer {
    font-size: 0.5em;
}

.chatCardTimeContainer {
    font-size: 0.4em;
}