.chatWindowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chatWindowContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatWindowHeaderContainer {
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: #444;
}

.chatWindowMessageHistoryContainer {
    width: 100%;
    height: 80vh;
    background-color: #555;
}

.chatWindowControlContainer {
    width: 100%;
    height: 10vh;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatWindowControlInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.chatWindowControlInputField {
    width: 40rem;
    max-width: 40rem;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #555555;
    resize: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    height: 3rem;
    overflow: hidden;
    line-height: 1.5;
    color: white;
    transform-origin: bottom;
}

.chatWindowControlInputField:hover {
    background-color: #666666;
}

.chatWindowControlInputField:focus-visible {
    background-color: #666666;
    outline: #390096 2px solid;
}

.chatWindowControlButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: #555555;
    color: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

.chatWindowControlButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: #666666;
    color: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

.chatWindowControlInputPreviewImage {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}


.chatWindowControlInputImageContainer {
    position: relative;
    width: 150px;
    height: 150px;
    background: #444444;
    border: 2px solid #333333;
    margin-top: -9.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.chatWindowControlInputPreviewImageRemove {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
}

.chatWindowControlInputPreviewFile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
}


.chatWindowControlInputFileContainer {
    position: relative;
    width: 150px;
    height: 150px;
    background: #444444;
    border: 2px solid #333333;
    margin-top: -9.65rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chatWindowControlInputPreviewContainer {
    display: flex;
}