.chatContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chatContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatHeaderContainer{
    position:relative;
    height: 10vh;
    width: 100%;
    background-color: #444;
}

.chatMessageHistoryContainer{
    width: 100%;
    height:80vh;
    background-color: #555;
}

.chatControlContainer{
    width: 100%;
    height: 10vh;
    background-color: #444;
}