.messageContainer {
    display: flex;
    margin: 0.5rem 1rem;
    font-size: 16px;
}

.messageBubble {
    padding: 0 1rem;
    border-radius: 1rem;
    max-width: 20rem;
    text-align: left;
    min-width: 5rem;
    color: white;
    background-color: #3b82f6;
}

.messageText {
    white-space: pre-wrap;
    display: inline-block;
    word-break: break-word;
}